@model IEnumerable<GestionDesProjets.Models.Devi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumDev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbJourValidity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameDev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateValidationDev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalHtdev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClientNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDeGenerationNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTvaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumDev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbJourValidity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameDev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateValidationDev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalHtdev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClientNavigation.AdrActivitePro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDeGenerationNavigation.IdDeGeneration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTvaNavigation.IdTva)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDevis">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDevis">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDevis">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
